body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; /* Empuja el footer hacia abajo */
    padding: 20px;
}

form {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label, input, select, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}